.parent {
  background: lightblue;
  position: relative;
  height: 200vh;
}

.child-one {
  background: green;
  position: sticky;
  top: 0;
}

.child-two {
  background: orange;
}

.child-three {
  background: pink;
}
